.App {
  text-align: center;
}

.App-header {
  color: aliceblue;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #282c34;
}

.mid {
  background-color: red;
}

.right {
  background-color: green;
}

label {
  font-size: larger;
  font-weight: bold;
  color: aliceblue;
  padding: 4px 0;
  border-radius: 25px;
  background: linear-gradient(rgb(58, 58, 144), purple);
}

.remove-padding {
  padding: 0;
}

button {
  border-radius: 25px;
  font-weight: bold;
  font-size: larger;
}

.drop-shadow {
  filter: drop-shadow(3px 3px darkblue);
  
}